*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    width: 100%;
    height: 100%;
}
:root{
    --bg-color:#ffff;
    --primary-color:black;
    --main-color:#77f49e;
    --soft-color:#e5e3e3ec;
}
body{
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: white;
}
nav{
    width: 100%;
    position: fixed;
    padding: 0 5rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 10px;
    background: transparent;
    z-index: 99;
}
nav .logo{
    font-size: 1.5rem;
    color: var(--soft-color);
}
nav .menu-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    background-color:var(--bg-color);
    color: black;
    padding: 0.5rem 1.6rem;
    border-radius: 2rem;
    font-size: 1.1rem;
}
/* hero-section */
.hero-container{
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 3rem 5rem;
    background: 
        linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.9)),
        url('../Add_face_to_202604182345.jpeg');

    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.hero-container::before{
    content: "";
    position: absolute;
    inset: 0;
    background: radial-gradient(circle at center, rgba(0,255,150,0.3), transparent 70%);
    z-index: 0;
}
/* center content */
.hero-content{
    max-width: 1000px;
}
.hero-content{
    margin-top: 4rem;
   margin-left:5rem;
}
.hero-content>p{
    font-size: 1.4rem;
    color: var(--soft-color);
}
.hero-content .main-title{
    width: 100%;
    font-size: 8rem;
    color: var(--main-color);
    text-shadow: 0 0 3px #00ffae, 0 0 5px #0b4332;
}
.hero-content>span{
    margin-top: 1rem;
    font-size: 1rem;
    color: var(--soft-color);
}
.hero-container .information{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    color: var(--soft-color);
}
.hero-footer{
    display: flex;
    justify-content: space-between;
    color: var(--soft-color);
}
.hero-container .social-media{
    display: flex;
    gap: 1.2rem;
}
/* about me */
.about{
    width: 100vw;
    height: 100vh;
}